<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/01039b60fa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <title>TalentPool Trends</title>
</head>
<body>
    
    <div class="container">
        <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TalentPool Trends</a>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
     {{!-- <button class="btn btn-primary my-2 my-sm-0" type="submit" action="/api/searchBy" method="POST">Trend Graphs</button> --}}
</nav>
        {{{body}}}
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
   
   
</body>
</html>