<div class="row mt-5">
    <div class="container">
        <div class="inner">
            <div class="col-md-6 m-auto" id="pop">
        <div class="card card-body" id="inner">
            <h1 class="text-center mb-3d"> <i class="fas fa-sign-in-alt"></i>Login</h1>
            {{> messages}}
            <form action="/users/login" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value="{{email}}">
            </div>
             <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" value="{{password}}">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="lead mt-4">No Account? <a href="/users/register">Register</a> </p>
        </div> 
    </div>
        </div>
    </div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popmotion/9.0.0/popmotion.global.min.js"></script>

<script>
    const pop = popmotion.styler(document.querySelector('.pop'));
    const formElements = (document.querySelector('.inner'));

    popmotion.tween({
        from: {
            scale: .7
        },
        to: {
            scale: 1
        },
        duration: 1000
    }).start(pop.set)

</script>