

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <div class="m-4">
                <span>
                    <h1>
                        <i class="fas fa-briefcase"></i>
                        <i class="fas fa-globe"></i>
                        <i class="fas fa-laptop-code"></i>
                    </h1>
                </span>
            </div>
            <h2><strong>TalentPool Trends</strong></h2><br>
            <a href="/users/login" class="btn btn-primary btn-block mb-2">Login</a>
            <a href="/users/register" class="btn btn-info btn-block mb-2">Register</a>
        </div> 

    </div>
</div>